/* .cdk-drag-preview {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  } */

  .multiselect-container {
    display: flex;
    justify-content: space-between;
  }
  
  .multiselect {
    width: 48%;
  }
  
  .multiselect label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .multiselect select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .multiselect p {
    margin-top: 10px;
    font-weight: bold;
  }
  
  .multiselect ul {
    list-style-type: none;
    padding: 0;
  }
  
  .multiselect li {
    padding: 5px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .space {
    margin-right: 10px;
  }

  .table-container {
    display: flex;
  }
  
  .table-container > div {
    flex: 1;
    margin: 10px;
  }
  
  .table-container h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .table-container table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
  }
  
  .table-container th,
  .table-container td {
    padding: 8px;
    border: 1px solid #ccc;
  }
  
  .table-container thead {
    background-color: #f0f0f0;
  }
  
  .table-container tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .table-container tbody tr:hover {
    background-color: #e9e9e9;
  }